nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
  }
  
  .cartIcon {
    position: relative;
  }
  
  .cartIcon span {
    position: absolute;
    bottom: 0;
    right: -5px;
    z-index: 3;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
  }

.cart_icon{
  color: white;
  height: 35px;
  width: 35px;
}